section#experience
    .resume-wrapper
        .container
            div
                .resume-heading
                    |   Experience
            div
                |   {% for experience in site.data.experiences %}
                .resume-wrapper-nested
                    .role
                        |   {{ experience.role }}
                    .time
                        |   {{ experience.time }}  
                    .company
                        |   {{ experience.company }}
                |   {% endfor %}