div.resume-block#experience
    div.container
        div.resume-wrapper
            h5.resume-subheading
                |   Experience
            .resume-subblock
                .row
                    .col-8.item-heading
                        |   Student Facilitator
                    .col-4.item-period
                        |   Jan 2017 - Present
                .row   
                    .col.item-subheading
                        |   ASU Student &amp; Cultural Engagement
            .resume-subblock
                .row
                    .col-8.item-heading
                        |   Vice President
                    .col-4.item-period
                        |   Sept 2017 - April 2018
                .row   
                    .col.item-subheading
                        |   ASU Coalition of International Students
            .resume-subblock
                .row
                    .col-8.item-heading
                        |   Public Relation Coordinator
                    .col-4.item-period
                        |   May 2017 - Dec 2017
                .row   
                    .col.item-subheading
                        |   ASU Malaysian Students Association
            .resume-subblock
                .row
                    .col-8.item-heading
                        |   Marketing Coordinator
                    .col-4.item-period
                        |   May 2017 - Sept 2017
                .row   
                    .col.item-subheading
                        |   ASU Coalition of International Students
            .resume-subblock
                .row
                    .col-8.item-heading
                        |   Undergraduate Teaching Assistant
                    .col-4.item-period
                        |   Aug 2017 - Dec 2017
                .row   
                    .col.item-subheading
                        |   Ira A. Fulton Schools of Engineering
            .resume-subblock
                .row
                    .col-8.item-heading
                        |   Editorial Writer &amp; Developer
                    .col-4.item-period
                        |   Oct 2015 - Jan 2017
                .row   
                    .col.item-subheading
                        |   Windows Latest
            .resume-subblock
                .row
                    .col-8.item-heading
                        |   Marketing Specialist
                    .col-4.item-period
                        |   Sept 2015 - Oct 2015
                .row   
                    .col.item-subheading
                        |   Oaxis Asia Pte. Ltd.
            .resume-subblock
                .row
                    .col-8.item-heading
                        |   Blogger
                    .col-4.item-period
                        |   Feb 2012 - Feb 2017
                .row   
                    .col.item-subheading
                        |   Megapowetech Networks
                