.resume-block#experience
    .container
        .resume-wrapper
            h5.resume-subheading
                |   Experience
            |   {% for experience in site.data.experiences %}
            .experience-block
                .row
                    .col-8.item-heading
                        |   {{ experience.role }}
                    .col-4.item-period
                        |   {{ experience.time }}
                .row   
                    .col.item-subheading
                        |   {{ experience.company }}
            |   {% endfor %}