footer
    .wrapper
        .container
            .scroll-up
                .nested
                    div
                        a.btn.btn-circle.scroll(href='#hero')
                            |   up up and away  
                            i.fas.fa-caret-square-up
            div
                .nested
                    |   {% for sm in site.data.social %}
                    div
                        span.text
                            a(class="{{ sm.class }}" href="{{ sm.url }}" target="_blank")
                                |   {{ sm.name }}
                        span.icon
                            a(class="{{ sm.class }} {{ sm.fa }}" href="{{ sm.url }}" target="_blank")
                    |   {% endfor %}
            .copyright
                .nested
                    div
                        i.fas.fa-copyright(data-fa-transform: "shrink-2")
                        |   {{ site.year }} - {{ site.name }}