footer
    div.social
        ul
            li
                a(href="mailto:dickwyn@outlook.com" target="_blank")
                    |   Email
            li
                a(href="https://www.twitter.com/dickwyn" target="_blank")
                    |   Twitter
            li
                a(href="https://www.linkedin.com/in/dickwyn" target="_blank")
                    |   LinkedIn
            li
                a(href="https://www.instagram.com/dickwyn/" target="_blank")
                    |   Instagram
            li
                a(href="https://www.github.com/dickwyn" target="_blank")
                    |   GitHub
            li
                a(href="weixin.html" target="_blank")
                    |   WeChat
    p
        i.fas.fa-copyright(data-fa-transform="shrink-6" style="background:#D32F2F")
        |   2018 - Dick Wyn Yong. Kuala Lumpur &amp; Tempe