.container
    h1 Hello World
    h2 rouge
        .jumbotron
            h1.lead This is a simple hero unit, a simple jumbotron.
            hr.my-4
            p It uses utility classes 
                a(btn, btn-primary, btn-lg)
