header
    div.topnav
        a(href="https://www.dickwyn.xyz/" class="hidden-link")
            p dickwyn.xyz
    div.header-body
        div.container
            img(src="assets/images/dickwyn-pc.jpg" class="circle-avatar" alt="Dick Wyn Yong" id="profile-picture")
