header#hero
    .top-nav
        .wrapper
            .home
                a(href="https://www.dickwyn.xyz/" class="hidden-link")
                    p dickwyn
            .links
                .nested
                    .blog
                        a(href="https://blog.dickwyn.xyz/" class="hidden-link")
                            p blog
                    .resume
                        a(href="{{ site.resume }}" class="hidden-link")
                            p resume
                    .contact
                        a(href="mailto:dickwyn@outlook.com" class="hidden-link")
                            p contact
    .header-body
        .container
            img(src="assets/images/dickwyn-pc.PNG" class="circle-avatar profile-picture" alt="Dick Wyn Yong") 
            .wrapper
                div
                    p.name Dick Wyn
                        b  Yong
                div
                    p.headline Student, Blogger, Designer
                div
                    button.blogs(onclick=" window.open('http://blog.dickwyn.xyz','_blank')" type='button')
                        i.fas.fa-align-left
                        |  Read my blog
                div
                    |   {% for summary in site.data.summaries.short %}
                    p.description {{ summary.item }}
                    |   {% endfor %}
                div.social
                    .nested
                        div.instagram
                            a(href="https://www.instagram.com/dickwyn/" target="_blank")
                                span.fa-stack.fa-lg
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fab.fa-instagram.fa-stack-1x.fa-inverse
                        div.linkedin
                            a(href="https://www.linkedin.com/in/dickwyn" target="_blank")
                                span.fa-stack.fa-lg
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fab.fa-linkedin-in.fa-stack-1x.fa-inverse
                        div.github
                            a(href="https://www.github.com/dickwyn" target="_blank")
                                span.fa-stack.fa-lg
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fab.fa-github-alt.fa-stack-1x.fa-inverse
                        div.weixin
                            a(href="https://v1.dickwyn.xyz/weixin.html" target="_blank")
                                span.fa-stack.fa-lg
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fab.fa-weixin.fa-stack-1x.fa-inverse
    .bottom-nav
        a.btn.btn-circle.scroll(href='#summary')
            i.fas.fa-chevron-circle-down.fa-2x
                            
