div.resume-block#project
    div.container
        div.resume-wrapper
            h5.resume-subheading
                |   Projects 
            |   {% for project in site.data.projects %}
            .resume-subblock-alt
                .row
                    .col.item-heading
                        a(href="{{ project.url }}" target="_blank")
                            |   {{ project.name }} 
                            i.far.fa-file-code
                .row   
                    .col.item-subheading-alt
                        |   {{ project.description }}
                .row
                    
                    .col   
                        |   {% for tech in project.tech %} 
                        .badge.badge-outlined    
                            |   {{ tech.item }}
                        |   {% endfor %}
            |   {% endfor %}