section#project
    .resume-wrapper
        .container
            div
                .resume-heading
                    |   Projects
            div
                |   {% for project in site.data.projects %}
                .resume-wrapper-nested
                    div
                        a(href="{{ project.url }}" target="_blank")
                            |   {{ project.name }} 
                            i(class="{{ project.class }}")
                    div
                        p 
                            |   {{ project.description }}
                    div.badge-wrapper     
                        |   {% for tech in project.tech %} 
                        .badge   
                            p   {{ tech.item }}
                        |   {% endfor %}
                |   {% endfor %}