.resume-block#skill
    .container
        .resume-wrapper
            h5.resume-subheading
                |   Skills
            .row
                .col-3
                    h6.skill-title
                        |   Languages
                    ul.skills-list
                        li Java
                        li C#
                        li C/C++
                        li SQL
                        li MATLAB
                        li Python
                        li R
                .col-3
                    h6.skill-title
                        |   Frameworks
                    ul.skills-list
                        li Bootstrap
                        li .NET
                        li Node
                        li React
                        li Angular
                .col-3
                    h6.skill-title
                        |   Tools
                    ul.skills-list
                        li Git &amp; GitHub
                        li Photoshop
                        li Illustrator
                        li InDesign
                        li Axure RP
                        li PuTTY
                .col-3
                    h6.skill-title
                        |   Interpersonal
                    ul.skills-list
                        li Conflict Resolution
                        li Teamwork
                        li Leadership
                        li Public Speaking
                        li Management
                        li Event Planning

            