section#skill
    .resume-wrapper
        .container
            div
                h5.resume-heading
                    |   Skills
            .resume-wrapper-nested
                div
                    .resume-subheading
                        |   Languages
                    ul
                        |   {% for language in site.data.skills.languages %}
                        li {{ language.item }}
                        |   {% endfor %}
                div
                    .resume-subheading
                        |   Frameworks
                    ul
                        |   {% for framework in site.data.skills.frameworks %}
                        li {{ framework.item }}
                        |   {% endfor %}
                div
                    .resume-subheading
                        |   Tools
                    ul
                        |   {% for tool in site.data.skills.tools %}
                        li {{ tool.item }}
                        |   {% endfor %}
                div
                    .resume-subheading
                        |   Platforms
                    ul
                        |   {% for platform in site.data.skills.platforms %}
                        li {{ platform.item }}
                        |   {% endfor %}