.resume-block#skill
    .container
        .resume-wrapper
            h5.resume-subheading
                |   Skills
            .row
                .col-3
                    h6.skill-title
                        |   Languages
                    ul.skills-list
                        |   {% for language in site.data.skills.languages %}
                        li {{ language.item }}
                        |   {% endfor %}
                .col-3
                    h6.skill-title
                        |   Frameworks
                    ul.skills-list
                        |   {% for framework in site.data.skills.frameworks %}
                        li {{ framework.item }}
                        |   {% endfor %}
                .col-3
                    h6.skill-title
                        |   Tools
                    ul.skills-list
                        |   {% for tool in site.data.skills.tools %}
                        li {{ tool.item }}
                        |   {% endfor %}
                .col-3
                    h6.skill-title
                        |   Interpersonal
                    ul.skills-list
                        |   {% for interpersonal in site.data.skills.interpersonal %}
                        li {{ interpersonal.item }}
                        |   {% endfor %}