div.resume-block#summary
    div.container
        div.resume-wrapper
            h5.resume-subheading
                |   Background
            p Hi, my name is dickwyn!
            p I'm a proud Malaysian and I am currently a Senior at Arizona State University. I will complete my Bachelors Computer Science degree in December 2018. When I graduate aspire to work for a company that challenges the status quo while respecting the ethics.
            p As a technology enthusiast, I enjoy exploring about the new technology products that come out.
            p I'm almost always checking my inbox, hit me up!
            div.row
                div.col.text-center
                    a(href="mailto:dickwyn@outlook.com" target="_blank")
                        button.btn.btn-outline-secondary.end-button.btn-sm(type="button")
                            i.far.fa-envelope
                            |   dickwyn@outlook.com
