section#summary
    .resume-wrapper
        .container
            div
                .resume-heading
                    | Background
            div
                p Hi, my name is dickwyn!
                p I'm a proud Malaysian and I am currently a Senior at Arizona State University. I will complete my Bachelors Computer Science degree in December 2018. When I graduate aspire to work for a company that challenges the status quo while respecting the ethics.
                p As a technology enthusiast, I enjoy exploring about the new technology products that come out.
                p I'm almost always checking my inbox, hit me up!
            div
                button(onclick=" window.open('mailto:dickwyn@outlook.com','_blank')" type='button')
                    i.far.fa-envelope
                    |  dickwyn.outlook.com
