$primary-color: #303F9F;
$light-primary-color: #C5CAE9;
$primary-color: #3F51B5;
$accent-color: #FF5252;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$text-icons: #FFFFFF;