$dark-primary-color: #455a64;
$light-primary-color: #cfd8dc;
$primary-color: #607d8b;
$accent-color: #ff5252;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;
$text-icons: #ffffff;
$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #007bb6;
$github: #333333;
$snapchat: #fffc00;
$instagram: #8a3ab9;
$weixin: #7bb32e;
$youtube: #ff0000;
