$primary-color: #303F9F;
$light-primary-color: #C5CAE9;
$primary-color: #3F51B5;
$accent-color: #FF5252;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$text-icons: #FFFFFF;
$facebook: #3b5998;
$twitter: #00ACED;
$linkedin: #007bb6;
$github: #333333;
$snapchat: #FFFC00;
$instagram: #8A3AB9;
$weixin: #7bb32e;