#experience .resume-wrapper-nested {
    grid-template-columns: 2fr 1fr;
    margin: 0em 0em 1em;
    padding: 0em;
}

.time {
    font-family: monospace;
    color: #757575;
    text-align: right;
}

.containers {
    padding: 0em 2em;
}

@media screen and (max-width: 640px) {
    #experience .resume-wrapper-nested {
        grid-template-columns: 1fr;
        margin: 0em 0em 2em;
    }

    .time {
        text-align: left;
    }
}