.item-heading a {
    color: black;
    text-decoration: none;
}

.item-heading a:hover {
    color: black;
    text-decoration: none;
    border-bottom: 2px #ef1c1c dotted;
}

.experience-block {
    margin: 0em 0em 1em;
}