.item-heading a {
    color: black;
    text-decoration: none;
}

.item-heading a:hover {
    color: black;
    text-decoration: none;
    border-bottom: 2px #ef1c1c dotted;
}

.experience-block {
    margin: 0em 0em 1em;
}

.item-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
}

.item-period {
    font-family: monospace;
    color: #757575;
    text-align: right;
}

.item-subheading {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #757575;
}