footer .wrapper {
    display: grid;
    margin: 0em 3em;
}

footer .nested {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0em;
    padding: 0em;
}

footer .nested div {
    justify-self: center !important;
}

footer a {
    font-size: 1.5em;
    text-decoration: none;
}

footer .icon a {
    color: $text-icons;
    font-size: 1.5em;
}

.email:hover {
    color: $primary-color;
}

.twitter:hover {
    color: $twitter;
}

.linkedin:hover {
    color: $linkedin;
}

.instagram:hover {
    color: $instagram;
}

.github:hover { 
    color: $github;
}

.weixin:hover {
    color: $weixin;
}

.copyright {
    font-family: monospace;
    text-transform: uppercase;
    color: $text-icons;
    justify-self: center;
    margin: 2em;
}

i.fas.fa-copyright {
    color: $text-icons;
    font-size: 0.8em;
}

@media (min-width: 641px) {
    span.icon {
        display:none
    }

    span.text {
        display:inline-block
    }
}

@media (max-width: 640px) {
    span.icon {
        display:inline-block;
    }

    span.text {
        display:none;
    }
}