header {
    min-height: 100%;
    min-height: 100vh;
    position: relative;
}

header .container {
    justify-self: center;
}

.top-nav {
    position: absolute;
    top: 0;
    width: 100%;
}

.top-nav .wrapper {
    display: grid;
    grid-template-columns: 20% 3% 75%;
    grid-template-areas: 
        "home . links";
}

.top-nav .home {
    grid-area: home;
}

.top-nav .links {
    grid-area: links;
    display: grid;
    justify-content: end;
}

.top-nav .nested {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.blog,
.resume,
.contact {
    display: grid;
    padding: 0em;
    margin: 0em;
    align-content: end;
}

.hidden-link p {
    color: $text-icons;
    text-decoration: none !important;
    margin: 1em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

a.hidden-link {
    text-decoration: none;
}

a.hidden-link:hover p {
    color: $primary-color;
}

.top-nav .nested p {
    text-align: end;
}

.profile-picture {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    z-index: 1;
    position: relative;
    border: 0px solid blue;
    margin-bottom: -48px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

.header-body .wrapper {
    display: grid;
    background-color: $text-icons;
    max-width: 629px;
    width: 100%;
    margin: auto;
    border-radius: 3px !important;
}

.header-body .nested {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 0em 6.8em 1em;
}

p.name {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    font-size: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin: 1.5em 0em 0em;
    padding: 0.38em;
}

p.headline {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: lowercase;
    text-align: center;
    margin: 0em;
    padding: 0.38em;
}

button.blogs {
    font-size: 16px;
    color: $primary-text;
    background-color: transparent;
    border: 1px solid $primary-color;
    border-radius: 5px;
    padding: 9px 15px;
    margin: 0.5em auto; 
    display: block;
}

button.blogs:hover {
    background-color: $primary-color;
    color: $text-icons;
}

p.description {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 19px;
    padding: 0em 2em;
    margin: 0.38em 0em 0.5em;
    line-height: 1.5em;
}

.social {
    margin: 1em 0em;
}

.instagram a:hover {
    color: $instagram;
}

.linkedin a:hover {
    color: $linkedin;
}

.github a:hover {
    color: $github;
}

.weixin a:hover {
    color: $weixin;
}

div.instagram a,
div.linkedin a,
div.github a,
div.weixin a {
    color: $secondary-text;
}

.bottom-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 2em 0em;
    align-items: center;
} 

i.fas.fa-chevron-circle-down {
    color: $text-icons;
}

@media screen and (max-width: 640px) {
    .top-nav .wrapper {
        display: grid;
        grid-template-columns: 20% 1% 75%;
        grid-template-areas: 
            "home . links";
    }

    .profile-picture {
        width: 128px;
        height: 128px;
    }

    p.name {
        font-size: 28px;
    }

    p.headline {
        font-size: 19px;
    }
    
    p.description {
        font-size: 16px;
    }

    .header-body .wrapper {
        width: 90%;
    }

    .header-body .nested {
        margin: 0em 2em 1em;
    }
}

@media screen and (max-height: 640px) {
    .bottom-nav .btn {
        display: none;
    }

    .top-nav .links {
        display: none;
    }
}