header {
    min-height: 100%;
    min-height: 100vh;
    position: relative;
}

.header-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

.top-nav {
    position: absolute;
    top: 0;
    width: 100%;
}

.hidden-link p {
    color: white;
    text-decoration: none !important;
    margin: 1em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

a.hidden-link {
    text-decoration: none;
}

a.hidden-link:hover p {
    color: $primary-color;
}

.profile-picture {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    z-index: 1;
    position: relative;
    border: 0px solid blue;
    margin-bottom: -48px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-body .wrapper {
    display: grid;
    background-color: white;
    max-width: 620px;
    width: 100%;
    margin: auto;
    border-radius: 3px !important;
}

.nested {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 0em 5em 1em;
}

@media screen and (max-width: 640px) {
    .profile-picture {
        width: 128px;
        height: 128px;
    }

    p.name {
        font-size: 28px;
    }

    p.headline {
        font-size: 18px;
    }
    
    p.description {
        font-size: 14px;
    }

    .header-body .wrapper {
        width: 90%;
    }

    .nested {
        margin: 0em 2em 1em;
    }
}

p.name {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    font-size: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin: 1.5em 0em 0em;
    padding: 0.38em;
}

p.headline {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: lowercase;
    text-align: center;
    margin: 0em;
    padding: 0.38em;
}

button.blogs {
    color: $primary-text;
    background-color: transparent;
    border: 1px solid $primary-color;
    border-radius: 5px;
    padding: 9px 15px;
    font-size: 16px;
    margin: 0.5em auto; 
    display: block;
}

button.blogs:hover {
    background-color: $primary-color;
    color: $text-icons;
}

p.description {
    font-family: 'Roboto', sans-serif;
    padding: 0em 2em;
    line-height: 1.5em;
    font-size: 16px;
}

.instagram a:hover {
    color: $instagram;
}

.linkedin a:hover {
    color: $linkedin;
}

.github a:hover {
    color: $github;
}

.weixin a:hover {
    color: $weixin;
}

div.instagram a,
div.linkedin a,
div.github a,
div.weixin a {
    color: $secondary-text;
}

.bottom-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 2em 0em;
    align-items: center;
} 

i.fas.fa-chevron-circle-down {
    color: $text-icons;
}