.resume-wrapper {
    background-color: white;
    max-width: 640px;
    width: 100%;
    margin: auto;
    border-radius: 3px !important;
    padding: 1.5em 1.5em;
}

.resume-wrapper p {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #757575;
}

.resume-block {
    margin: 0em 0em 2em;
}

h5.resume-subheading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #212121;
    text-transform: uppercase;
    margin: 0 !important;
    padding-bottom: 0.8em;
}