h6.skill-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.skills-list li {
    padding: 0em 0em !important;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: gray;
}