.item-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
}

.item-period {
    font-family: monospace;
    color: #757575;
    text-align: right;
}

.item-subheading {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #757575;
}