#summary button {
    color: $secondary-text;
    background-color: transparent;
    border: 1px solid $secondary-text;
    border-radius: 5px;
    padding: 9px 15px;
    font-size: 16px;
    margin: 1em auto 0em;
    display: block;
}

i.far.fa-envelope {
    color: $secondary-text;
}

#summary button:hover {
    background-color: $secondary-text;
    color: $text-icons;
    i.far.fa-envelope {
        color: $text-icons;
    }
}