#summary {
    padding-top: 0.39em;
}

#summary .resume-wrapper-nested {
    grid-template-columns: repeat(1, 1fr);
}

#summary button {
    color: $secondary-text;
    background-color: transparent;
    border: 1px solid $secondary-text;
    border-radius: 5px;
    padding: 9px 15px;
    font-size: 16px;
    margin: 1em auto 0em;
    display: block;
}

i.far.fa-envelope {
    color: $secondary-text;
}

.button-wrapper {
    padding: 0em 0em 1em;
}

#summary button:hover {
    background-color: $secondary-text;
    color: $text-icons;
    i.far.fa-envelope {
        color: $text-icons;
    }
}